doctype
html
	head
		title Nightlife Coordination App
		link(rel='stylesheet', type='text/css', href='css/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='css/main.css')
		link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
		
	body
		nav.navbar.navbar-inverse.navbar-static-top
			div.container-fluid
				div.navbar-header.pull-left
					a(href="/").navbar-brand Nightlife Coordination App
				if user.name
					div.navbar-header.pull-right
						ul.nav.navbar-nav.navbar-right
							li.dropdown
								a(data-toggle='dropdown', role='button', aria-haspopup="true", aria-expanded="false").dropdown-toggle #{user.name}
									span.caret
								ul.dropdown-menu
									li
										a(href="/signout") Sign Out
				else
					div.navbar-header.pull-right
						ul.nav.navbar-nav.navbar-right
							li
								a(href="/signin")#sign-in-btn Sign In With Twitter
		div.page
			block page
			p#credit Coded by Elliot Zoerner
			p
				a(href="https://twitter.com/elliot_zoerner") @elliot_zoerner
			p
				a(href="https://github.com/elliotjz/nightlife") Source Code
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		script(src="js/bootstrap.min.js")
		block scripts